<%= render 'shared/header' %>

<main>
  <div class="page">
    <%= render 'shared/back' %>

    <h2>Your groups</h2>
    <% @groups.each do |group| %>
      <%= link_to group.title, group %>
    <% end %>
  </div>
  <div class="sidebar">

  </div>
</main>
