<header>
  <div class="nav_left">
    <%= link_to "Sezme", posts_path, class: "link" %>
  </div>

  <div class="nav_middle"> <!-- pages -->
    <%= link_to "About", "/pages/about", class: "link" %>
  </div>

  <div class="nav_right">
    <%= current_user.username %>
    <nav>
      <ul>
        <li>a</li>
        <li>b</li>
        <li>c</li>
        <li>d</li>
      </ul>
    </nav>
  </div>
</header>
