<div class="stars">
  <% for i in 1..5 %>
    <% if i <= rating %>
      <div class="display-star filled"></div>
    <% else %>
      <div class="display-star"></div>
    <% end %>
  <% end %>
</div>
