<h2>About Sezme</h2>
<p>If you couldn't already guess, this site is currently under a lot of construction. It's only a couple days old so far, and I still have uncountable features to add to it. On top of that, I should really take a CSS class, because this website's design looks like it's from a long time ago.</p>
<p>Anyway, this thing is my prized possession now, and I will definitely keep working on it. Thanks for visiting!</p>
