<%= render 'shared/header' %>

<main>
  <div class="page static">
    <%= render 'shared/back' %>

    <h2>About Sezme</h2>
    <p>This site is still under a lot of construction. I'm working on it a lot more recently, but it seems every time I add one feature, I discover ten more I have to add. Thus, my todo list is very extensive regarding Sezme.</p>

    <p>As of when I'm writing this (April 3 2021), the features I'm adding are basic things that are not instrumental to the site's functionality, but are still very important. For example:</p>

    <ul>
      <li>A user dropdown menu.</li>
      <li>A better way to select a rating for your review.</li>
      <li>(Finally) Making posts start out unrated.</li>
    </ul>

    <!-- TODO: reason why you can't edit post titles -->
  </div>
</main>
