<%= render 'shared/header' %>

<main>
  <div class="page page-static">
    <%= render 'shared/back' %>

    <h1 class="large-header">About Sezme</h1>

    <p>I created Sezme as a site where anyone can review and talk about the world. It's meant for people to add items they want to discuss or see the general consensus on, and for others to leave reviews describing their personal opinions. At the same time, you don't have to ever add topics; you can just review other users' topics or even just read reviews. Sezme is meant for people who want outside opinions on any topic at all.</p>

    <p>This site is still under a lot of construction. I'm working on it a lot more recently, but it seems every time I add one feature, I discover ten more I have to add. Thus, my todo list is very extensive regarding Sezme.</p>

    <p>As of when I'm writing this (April 3 2021), the features I'm adding are basic things that are not instrumental to the site's functionality, but are still very important. For example:</p>

    <ul>
      <li>A user dropdown menu.</li>
      <li>A better way to select a rating for your review.</li>
      <li>(Finally) Making posts start out unrated.</li>
    </ul>

    <!-- TODO: reason why you can't edit post titles -->
  </div>
</main>
