<%= render 'shared/header' %>

<div class="maincontainer">
  <div class="page form">
    <%= link_to image_tag("icons/arrow-go-back-line.svg"), posts_path %>

    <h2>New post</h2>
    <p>Create a topic to be reviewed. Make sure to describe it neutrally as to not influence reviews.</p>

    <%= form_with model: @post, url: "/posts", class: "newpostform" do |f| %>
      <%= render "form", rating: 50, submittext: "Create Post", form: f, title_editable: true %>
    <% end %>
  </div>
</div>
