/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* ==========
 variables
========== */

:root {
  --root-bg: #ececec;
  --header-bg: #114a66;
  --header-text: #2de3b0;
  --btn-bg: #00a3a3;
}

/* ==========
  global styles and color
========== */

*, *::before, *::after {
  box-sizing: border-box;
}
body {
 margin: 0;
 font-size: 16px;
 font-family: "Open Sans", "open-sans", "Arial";
 background-color: var(--root-bg);
}
a {
  text-decoration: none;
}
h2, h3 {
  margin: 0.5em 0;
}
hr {
  color: white;
}

input:not([type="submit"]), textarea {
  font-family: inherit; /* because chrome is a widdle baby */
  background-color: #f5f5f5;
}
textarea {
  resize: none;
}
.noselect {
  user-select: none;
}
