/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* variables */
:root {
  --header-bg: #324b4b;
  --header-text: #2DE3B0;
}

/* global styles and color */
*, *::before, *::after {
  box-sizing: border-box;
}
body {
 margin: 0;
 font-size: 16px;
 font-family: "Open Sans";
 background-color: #e6e6e6;
}
hr {
  display: inline;
}
a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.5em 0.7em;
  box-shadow: 0px 1px 5px 0 gray;
  background-color: var(--header-bg);
  color: var(--header-text);
  font-family: "brandon-grotesque";
  font-size: 1.25em;
  position: relative;
}
nav {
  position: absolute;
  top: 100%;
  right: 0;

  min-width: 10%;
  background-color: var(--header-bg);
  border: 2px dashed white;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  margin-bottom: 0.5em;
  margin-left: 1em;
}

.icon {
  height: 1.25em;
  width: auto;
  vertical-align: middle;
  margin: 0 0.5ch;

  position: relative;
  top: -0.1em;
}

/* buttons and links */
.link {
  color: inherit;
  position: relative;
}
.postlink {
  color: #007b7c;
  font-size: 1.25em;
}
.userproflink {
  color: #007b7c;
}
.link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: currentColor;

  transform: scaleX(0);
  transition: transform 150ms ease-out;
  transform-origin: right;
}
.link:is(:hover, :focus)::after {
  transform: scaleX(1);
  transform-origin: left;
}
.signupbtn { /* not very dry */
  color: #005557;
  background-color: #33CCCC;
  padding: 0.2em 1em;
  border-radius: 1em;
  transition: background-color 150ms;
}
.signupbtn:is(:hover, :focus) {
  background-color: #33CCCCBB;
}
.loginbtn { /* TODO: hover animation works on firefox but not on chrome */
  background-color: #fff;
  color: #005557;
  padding: 0.2em 1em;
  border-radius: 1em;
  /* box-shadow: inset 0 0 0 2px #33CCCC; */
  margin-right: 0.5em;
  position: relative;
  z-index: 1;

  transition: color 250ms;
}
.loginbtn::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1em;
  background-color: #33CCCC;
  z-index: -1;

  transform: scale(0);
  transition: transform 200ms;
}
.loginbtn:is(:hover, :focus)::after {
  transform: scale(1);
}
.loginbtn:is(:hover, :focus) {
  color: white;
}
