/*
  This stylesheet is for application-wide styles that don't fit
  in any of the controller-specific stylesheets. Also, I wanted
  to use Sass instead of plain CSS so I made this, but otherwise
  I would have used application.css.
*/

/* ==========
  fonts
========== */

// all in adobe rn

/* ==========
  header and navbar
========== */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 999;

  padding: 0 0.7em;
  box-shadow: 0px 1px 5px 0 gray;
  background-color: var(--header-bg);
  color: var(--header-text);
  font-family: "brandon-grotesque";
  font-size: 1.25em;

  > * {
    margin: 0.5em 0;
  }
}
.header-right {
  margin: 0;
  padding: 0.5em 0;
}

nav {
  position: absolute;
  top: 100%;
  right: 0;

  min-width: 20%;
  background-color: #114a66;
  border: 1px solid black;
  border-top: none;
  border-right: none;

  transform: scaleY(0);
  transform-origin: top;
  opacity: 0;
  transition: opacity 150ms, transform 250ms;

  font-size: 0.9em;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
  }

  a {
    flex-grow: 1;
    padding: 0.5em 0.8em;
    color: inherit;
    transition: color 200ms, background-color 200ms;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    &:is(:hover, :focus) {
      background-color: white;
      color: black;

      .icon {
        filter: none; // https://youtu.be/QRC-_RsefjQ?t=77
      }
    }
  }

  .icon {
    height: 1.15em;
    filter: invert(1);
    transition: filter 200ms;
  }
}

.header-right:hover, nav:hover, #navtoggle:checked { /* three states which dropdown will be open in */
  nav, ~ nav { /* sibling selector for checkbox */
    transform: scaleY(1);
    opacity: 1;
  }
  label .nav-icon {
    transform: rotate(90deg);
  }
}

#navtoggle {
  display: none;
}

.icon {
  height: 1.25em;
  width: auto;
  vertical-align: middle;
  margin: 0 0.5ch;

  position: relative;
  top: -0.25ch;
}
.nav-icon {
  top: -0.1ch;
  filter: invert(1);
  transition: transform 150ms;
}

/* ==========
  buttons and links
========== */

.userproflink {
  color: #007b7c;
}
.postlink {
  color: #007b7c;
  font-size: 1.25em;
}
.back-btn {
  margin-top: 0.5em;
}

/* for links in general */
.link {
  color: inherit;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: currentColor;

    transform: scaleX(0);
    transition: transform 150ms ease-out;
    transform-origin: right;
  }

  &:focus {
    outline: none;
  }
  &:is(:hover, :focus)::after {
    transform: scaleX(1);
    transform-origin: left;
  }
}

/* sign up and log in btns on header */
.signupbtn {
  background-color: #33CCCC;
  color: #005557;
  padding: 0.2em 1em;
  border-radius: 1em;

  transition: background-color 150ms;

  &:is(:hover, :focus) {
    outline: none;
    background-color: #33CCCCBB;
  }
}

.loginbtn { /* TODO: hover animation works on firefox but not on chrome */
  background-color: #fff;
  color: #005557;
  padding: 0.2em 1em;
  border-radius: 1em;
  margin-right: 0.5em;
  position: relative;
  z-index: 1;

  transition: color 250ms;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 1em;
    background-color: #33CCCC;
    z-index: -1;

    transform: scale(0);
    transition: transform 200ms;
  }

  &:is(:hover, :focus) {
    outline: none;
    color: white;

    &::after {
      transform: scale(1);
    }
  }
}

/* ==========
  main page styling
========== */

.maincontainer {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  margin: 1em 3%;
  gap: 1em;
}

.page {
  display: flex;
  flex-flow: column wrap;
  flex: 1 2 70%;

  padding: 1.5em 2em;
  border: 2px solid #aaa;
  border-radius: 0.25em;
  background-color: white;
  box-shadow: 0 2em 2em 1em #ccc;

  &.list {
    gap: 0.5em;
  }
  &.show {

  }
  &.static {
    flex: 0 1 600px; /* is it bad to do this? I don't think so...right? */
    min-height: 70vh;
    max-width: 100%;
  }
  &.form {
    flex: 0 1 50%;
    min-height: 60vh;
    margin: 10vh auto;
  }
}

.sidebar {
  flex: 1 1 calc(30% - 1em); // minus maincontainer's gap
  min-width: 20ch;
  min-height: 40vh;

  padding: 0.5em 1.5em;
  border: 2px solid #aaa;
  border-radius: 5px;
  background-color: white;
}
