/*
  This stylesheet is for application-wide styles that don't fit
  in any of the controller-specific stylesheets. Also, I wanted
  to use Sass instead of plain CSS so I made this, but otherwise
  I would have used application.css.
*/

/* ==========
  fonts
========== */

// all in adobe rn

/* ==========
  header and navbar
========== */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 999;

  padding: 0 0.7em;
  box-shadow: 0px 1px 5px 0 gray;
  background-color: var(--header-bg);
  color: var(--header-text);
  font-family: "brandon-grotesque", "Georgia";
  font-size: var(--fs-500);

  > * {
    margin: 0.5em 0;
  }
}
.header-middle {
  a {
    margin: 0 0.5em;
  }
}
.header-right {
  margin: 0;
  padding: 0.5em 0;
}

nav {
  position: absolute;
  top: 100%;
  right: 0;

  min-width: 20%;
  background-color: #114a66;
  border: 1px solid black;
  border-top: none;
  border-right: none;

  transform: scaleY(0);
  transform-origin: top;
  opacity: 0;
  transition: opacity 150ms, transform 250ms;

  font-size: 0.9em;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
  }

  a {
    flex-grow: 1;
    padding: 0.5em 0.8em;
    color: inherit;
    transition: color 200ms, background-color 200ms;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    &:is(:hover, :focus) {
      background-color: white;
      color: black;

      .icon {
        filter: none; // https://youtu.be/QRC-_RsefjQ?t=77
      }
    }
  }

  .icon {
    height: 1.15em;
    filter: invert(1);
    transition: filter 200ms;
  }
}

.header-right:hover, nav:hover, #navtoggle:checked { /* three states which dropdown will be open in */
  nav, ~ nav { /* sibling selector for checkbox */
    transform: scaleY(1);
    opacity: 1;
  }
  label .nav-icon {
    transform: rotate(90deg);
  }
}

#navtoggle {
  display: none;
}

.icon {
  height: 1.25em;
  width: auto;
  vertical-align: middle;
  margin: 0 0.4ch;

  position: relative;
  top: -0.25ch;
}
.nav-icon {
  top: -0.1ch;
  filter: invert(1);
  transition: transform 150ms;
}

/* ==========
  buttons and links
========== */

.postlink {
  font-size: 1.25em;
}
.back-btn {
  margin-top: 0.5em;
}

/* for links in general */
.link {
  color: #007b7c;
}
.cool-link { // link but cool
  color: inherit;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: currentColor;

    transform: scaleX(0);
    transition: transform 150ms ease-out;
    transform-origin: right;
  }

  &:focus {
    outline: none;
  }
  &:is(:hover, :focus)::after {
    transform: scaleX(1);
    transform-origin: left;
  }
}

/* sign up and log in btns on header */
.signupbtn {
  background-color: #33CCCC;
  color: #005557;
  padding: 0.2em 1em;
  border-radius: 1em;

  transition: background-color 150ms;

  &:is(:hover, :focus) {
    outline: none;
    background-color: #33CCCCBB;
  }
}

.loginbtn { /* TODO: hover animation works on firefox but not on chrome */
  background-color: #fff;
  color: #005557;
  padding: 0.2em 1em;
  border-radius: 1em;
  margin-right: 0.5em;
  position: relative;
  z-index: 1;

  transition: color 250ms;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 1em;
    background-color: #33CCCC;
    z-index: -1;

    transform: scale(0);
    transition: transform 200ms;
  }

  &:is(:hover, :focus) {
    outline: none;
    color: white;

    &::after {
      transform: scale(1);
    }
  }
}

/* ==========
  main page styling
========== */

main {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  margin: 1em 2%;
  gap: 1em;
}

.page {
  flex: 1 2 70%;

  // looks
  padding: 1.5em 2em;
  background-color: white;
  box-shadow: 0 2em 2em 1em #ccc;
  border: 1px solid #aaa;
}
.page-index {

}
.page-static {
  flex: 0 1 70%;
  margin: 0 auto;
}

.sidebar {
  flex: 1 1 calc(30% - 1em); // minus maincontainer's gap
  min-width: 20ch;
  min-height: 40vh;

  padding: 0.5em 1.5em;
  border: 1px solid #aaa;
  background-color: white;
}

/* ==========
  misc.
========== */

.tabs {
  a.active-tab {
    color: red;
  }
}

.dropdown {
  position: relative;
  user-select: none;
}
.dropdown-content {
  display: flex;
  flex-flow: column wrap;
  position: absolute;

  top: 2em;
  right: 0;

  visibility: hidden;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 200ms;
  z-index: 999;
  background-color: white;
  border: 1px solid lightgray;

  a {
    padding: 0.5em 0.7em;
    white-space: nowrap;
    color: black;

    &:is(:hover, :focus) {
      background-color: lightgray;
    }
  }
}
#dropdowntoggle {
  display: none;

  &:checked {
    ~ .dropdown-content {
      visibility: visible;
      transform: scaleY(1);
    }
    ~ label .dropdown-icon {
      transform: rotate(90deg);
    }
  }
}
.dropdown-icon {
  top: -0.1ch;
  margin-left: -0.4ch;
  transition: transform 150ms;
}

.comment-info-line {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5ch;
  font-weight: 100;

  // RULE: all tags inside a .comment-info-line div get a pipe added before them, except tags with class .no-🚰.
  > * + *:not(.no-🚰)::before { // wtf
    content: '|';
    color: black;
    margin-right: 0.5ch;
  }
}

.small-info {
  font-weight: 100;
  font-size: 0.85em;
}
.review-info {
  margin-top: 0.25em;
}
.root-review-info {
  font-style: italic;
  color: gray;
  font-size: 0.8em;

  &:hover {
    text-decoration: underline;
  }
}
