@mixin button-hover($opacity: 0.8) {
  transition: opacity 200ms;

  &:is(:hover, :focus){
    opacity: $opacity;
    cursor: pointer;
  }
}
@mixin field-hover {
  border: 1px solid lightgray;
  transition: border 200ms;

  &:is(:hover, :focus){
    outline: none;
    border: 1px solid gray;
  }
}
@mixin disabled-gray-out {
  transition: background-color 100ms, color 100ms;

  &:not([disabled]){
    @include button-hover;

    background-color: var(--btn-bg);
    color: white;
  }
  &[disabled] {
    background-color: #eee;
    color: lightgray;
  }
}
