// Place all the styles related to the Replies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "mixins";

.replies-wrapper {
  margin-left: 6%;
}
.repliestoggle {
  display: none;

  &:not(:checked) {
    ~ label .icon {
      transform: rotate(180deg) translateY(-2px);
    }

    ~ .replies-wrapper {
      display: none;
    }
  }

  ~ label {
    cursor: pointer;
    margin-left: 3%;
  }
}

.reply {
  margin: 0.5em 0;

  p {
    margin: 0.75em 0;
  }
}

.reply-form {
  width: 30%;
  min-width: 280px;

  .field {
    margin-bottom: 0.5em;

    * {
      font-family: inherit;
      font-size: 0.85em;
    }
  }

  textarea {
    @include field-hover;
    width: 100%;
    height: 6em;
    padding: 0.5em;
    border-radius: 0.2em;
  }

  .actions {
    text-align: right;

    * {
      border: none;
      border-radius: 0.2em;
      padding: 0.4em 0.8em;
      font-size: 0.9em;
    }

    a {
      @include button-hover;
      color: black;
    }
    input {
      transition: background-color 100ms, color 100ms;

      &:not([disabled]){
        @include button-hover;

        background-color: var(--btn-bg);
        color: white;
      }
      &[disabled] {
        background-color: #eee;
        color: lightgray;
      }
    }
  }
}
