// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#reviewheader {
  float: right;
}
.review {
  margin: 30px 0px;
}

/* ==========
  form styling
========== */

.newreview-form {
  border: 1px solid lightgray;
  padding: 0.5em 2em;
}
.ratinginput {
  display: flex;

  .star {
    height: 20px;
    width: 20px;
    background-size: contain;
    cursor: pointer;

    &.filled {
      background-image: url(asset_path('icons/star-fill.svg'));
    }
    &:not(.filled) {
      background-image: url(asset_path('icons/star-line.svg'));
    }
  }
}
