// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// devise styling

// mixins
@mixin button-hover($opacity: 0.8) {
  transition: opacity 200ms;

  &:is(:hover, :focus){
    opacity: $opacity;
    cursor: pointer;
  }
}
@mixin field-hover {
  border: 1px solid lightgray;
  transition: border 200ms;

  &:is(:hover, :focus){
    outline: none;
    border: 1px solid gray;
  }
}

.devise-errors {
  // margin-bottom: 1em;

  color: red;
}

/* ==========
  forms
========== */

// login/signup forms

.devise-form {

}

.user-entry-form {
  flex: 0 0 30%;
  margin: 0 auto;

  form, .links {
    margin-top: 1em;
  }

  input:not([type="checkbox"]) {
    width: 100%;
    border-radius: 1em;
  }

  .field {
    margin: 1em 0;
    width: 100%;

    input:not([type="checkbox"]) {
      @include field-hover;

      padding: 0.7em 1em;
    }
  }

  .actions input {
    @include button-hover;

    background-color: #00a3a3;
    color: white;
    border: none;
    padding: 0.9em 0.7em;
  }

  // other links
  .links a {
    color: #324B4B;
  }

  .devise-main-links { // trying out sign up and forgot password on same line
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .sign-up-link, .log-in-link {
    // margin-top: 0.5em;
    margin-right: 1ch;
    font-size: 0.9em;
    font-weight: 600;
  }

  .devise-other-links {
    margin-top: 1em;

    font-size: 0.8em;
    font-weight: 300;
  }
}
.user-edit-form {

}
.user-info-form {

}

// info thing
.info {
  position: relative;
  margin-left: 0.5ch;

  .info-text {
    display: none;
    position: absolute;
    bottom: 1.3em;
    left: 2em;
    white-space: nowrap;

    font-size: 0.8em;
    background-color: rgba(240,240,240,0.9);
    border: 1px solid gray;
    padding: 0.5em;
  }
}
.info-icon {
  height: 1.1em;
  width: auto;
  margin: none;
  position: relative;
  top: 0.35ch;

  &:hover ~ .info-text {
    display: block;
  }
}

/* ==========
  user index
========== */
.users-list-container {
  max-width: 80vw;
  overflow-x: scroll;

  table {
    border-collapse: collapse;
  }
  tr:nth-child(2n) {
    background-color: rgba(0,0,0,0.05);
  }
  th, td {
    padding: 0.3em 0.5em;
    border: 1px solid black;
    white-space: nowrap;
  }
  th {
    padding: 0.5em;
  }
}

/* ==========
  show
========== */

// tabs
.tabs {
  display: flex;
  flex-flow: row nowrap;
  gap: 1em;
  margin-bottom: 1em;

  .tablink {
    border: none;
    color: #324B4B;
    border: 1px solid gray;
    padding: 0.5em;

    &:is(:hover, :focus) {
      opacity: 0.8;
    }
  }
}
