// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// devise styling

.devise-errors {
  margin-bottom: 1em;

  color: red;
}

/* ==========
  forms
========== */
// login/signup stuff
.devise-form {
  flex: 0 1 40%;
  min-width: 350px;
  margin: 10vh auto;

  .new_user { // form tag
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 1em;

    margin: 1.5em 0;

    > * {
      min-width: 65%;
    }
  }

  .field input { // inputs
    width: 100%;
    margin-top: 0.5em;
    padding: 1em 1.5em;

    font-size: 0.8em;

    border: 1px solid lightgray;
    border-radius: 1em;
    transition: border 200ms;

    &:is(:hover, :focus) {
      outline: none;
      border: 1px solid gray;
    }
  }
  .actions input { // submit
    width: 100%;
    margin-top: 0.5em;
    padding: 1em 1em;

    border: none;
    border-radius: 1em;

    background-color: #4f95f0;
    color: white;
    font-size: 0.8em;
    transition: background-color 200ms;

    &:is(:hover, :focus) {
      cursor: pointer;
      outline: none;
      background-color: #66a1ee;
    }
  }

  .links {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    gap: 0.5em;

    a {
      flex: 0 1 35%;
      min-width: 75px;
      padding: 0.5em 1em;

      border: 1px solid gray;
      border-radius: 0.5em;

      background-color: #138080;
      color: white;
      font-size: 0.8em;
      text-align: center;
      transition: background-color 200ms;

      &:hover {
        background-color: #1C9797;
      }
    }
  }
}

/* ==========
  user index
========== */
.users-list-container {
  max-width: 80vw;
  overflow-x: scroll;

  table {
    border-collapse: collapse;
  }
  tr:nth-child(2n) {
    background-color: rgba(0,0,0,0.05);
  }
  th, td {
    padding: 0.3em 0.5em;
    border: 1px solid black;
    white-space: nowrap;
  }
  th {
    padding: 0.5em;
  }
}
