// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// devise styling

// mixins
@mixin button-hover($opacity: 0.8) {
  transition: opacity 200ms;

  &:is(:hover, :focus){
    opacity: $opacity;
    cursor: pointer;
  }
}
@mixin field-hover {
  transition: border 200ms;

  &:is(:hover, :focus){
    outline: none;
    border: 1px solid gray;
  }
}

.devise-errors {
  // margin-bottom: 1em;

  color: red;
}

/* ==========
  forms
========== */

/*
Guide:

.devise-form for styles related to all user forms
  │
  ├── .user-entry-form - login and register
  │
  ├── .user-edit-form - edit registration
  │
  └── .user-info-form - all others (excluding mailers)

*/

.devise-form {

}

.user-entry-form {

}
.user-edit-form {

}
.user-info-form {
  
}

/* ==========
  user index (ADMIN)
========== */
.users-list-container {
  max-width: 80vw;
  overflow-x: scroll;

  table {
    border-collapse: collapse;
  }
  tr:nth-child(2n) {
    background-color: rgba(0,0,0,0.05);
  }
  th, td {
    padding: 0.3em 0.5em;
    border: 1px solid black;
    white-space: nowrap;
  }
  th {
    padding: 0.5em;
  }
}

/* ==========
  show
========== */

// tabs
.tabs {
  display: flex;
  flex-flow: row nowrap;
  gap: 1em;
  margin-bottom: 1em;

  .tablink {
    border: none;
    color: #324B4B;
    border: 1px solid gray;
    padding: 0.5em;

    @include button-hover(0.6);
  }
}
