// Place all the styles related to the Votes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.vote-icon {
  height: 1.2em;
  width: auto;
  vertical-align: middle;
  position: relative;
  top: -0.1em;
  margin: 0 0.25ch;
}
